{
  "data": "data",
  "output": "_output",
  "video_extensions": [".mp4", ".mov", ".avi", ".mkv", ".m4v"],
  "cities_analyse": [],
  "always_analyse": false,
  "tracking_model": "yolo11x.pt",
  "bbox_tracker": "bbox_custom_tracker.yaml",
  "track_buffer_sec": 2,
  "min_confidence": 0.7,
  "yolo_imgsz": 640,
  "device": "auto",
  "half_precision": false,
  "runs_root": "runs",
  "delete_runs_files": true,
  "save_annotated_video": false,
  "display_frame_tracking": false,
  "cpu_worker": 4,
  "boundary_left": 0.45,
  "boundary_right": 0.55,
  "check_per_sec_time": 3,
  "hesitation_reference": "track_start",
  "min_waiting_time": 0,
  "max_waiting_time": 1e+20,
  "person_height_m": 1.70,
  "city_person_height_m": {},
  "min_speed_limit": 0,
  "max_speed_limit": 1e+20,
  "font_family": "Open Sans, verdana, arial, sans-serif",
  "font_size": 18,
  "plotly_template": "plotly_white",
  "save_images": true,
  "logger_level": "info",
  "git_pull": false,
  "email_send": false,
  "email_sender": "",
  "email_recipients": []
}
